{{ define "entry" }}
{{ .Request }}
**********************************************************
{{- range .Responses }}
{{ .Lang }}:
{{ range $idx, $tr := .Translations -}}
{{ inc $idx }}. {{ $tr }}
{{ end -}}
----------------------------------------------------------
{{- end }}
{{- end }}