{{ define "list" }}
<ol id="req-list">
	{{- range $idx, $entry := .Entries }}
	<li><a href="#{{ inc $idx }}">{{ $entry.Request }}</a></li>
	{{- end }}
</ol>

<dl>
	{{ range $idx, $entry := .Entries }}
	{{ template "entry" dict "idx" $idx "entry" $entry }}
	{{ end }}
</dl>
{{ end }}